* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Roboto;
}

.hero {
  background-color: #1f2937;
}

.header-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* backgorun-color below is for developing purposes */
  height: 5rem;
  /* background-color: #1f2937; */
  justify-content: space-around;
  color: linen;
}

.logo p {
  font-size: 24px;
  color: #f9faf8;
}

.header-links,
.hero-secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}

.links-div {
  display: flex;
  flex-direction: row;
}

.mx-left {
  margin-left: 2.5rem;
}

.links-div a {
  text-decoration: none;
  color: linen;
}

.introduction-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* height: 25rem; */
  color: linen;
}

.intro-text {
  width: 25rem;
  /* height: 15rem; */
  /* border: 1px solid; */
}

.intro-text.intro-img {
  text-align: center;
  /* border: 2px solid; */
  /* Padding is inserted for the purpose of centering text */
}

.intro-text-div .hero-main-text {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.intro-text-div p,
.intro-text-div button {
  margin-top: 0.6rem;
}

.intro-text-div button,
.sign-up button {
  background-color: #3882f6;
  width: 6rem;
  height: 1.8rem;
  border-radius: 6px;
  color: linen;
  border: #3882f6;
  cursor: pointer;
  font-weight: 600;
}

/* Second Section Elements*/

.random-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid red; */
  margin: 5rem 0;
  /* height: 25rem; */
}

.random-info-heading {
  margin: 5rem 0 0 0;
  text-align: center;
}

.random-info-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* flex: 1; */
  width: 20rem;
  height: 20rem;
  /* border: 1px solid; */
}

.info-child {
  width: 15em;
  height: 15em;
  border: 4px solid #3882f6;
  border-radius: 10px;
}

.info-child.child1 {
  flex: 3;
  border: unset;
}

.info-child.child1 p {
  text-align: center;
  padding: 0.25em;
}

.quote-section {
  background-color: #e5e7eb;
  font-weight: 300;
  font-size: 36px;
  padding: 4rem 0 4rem 0;
  font-style: italic;
  color: #1f2937;
}

.quote-div {
  width: 70%;
  margin: 0 auto;
}

.quote-section .thor-quote {
  font-style: normal;
  text-align: right;
  font-weight: 700;
}

.action-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #3882f6;
  width: 80%;
  height: 8rem;
  margin: 4rem auto;
  border-radius: 10px;
}

.action-section .call-to-action {
  /* flex: 2; */
  width: 60%;
  /* border: 1px solid; */
}
.action-section .sign-up {
  border: 1px solid linen;
  border-radius: 6px;
}

.call-to-action p:nth-of-type(1) {
  font-weight: 700;
}
.call-to-action p:nth-of-type(2) {
  font-weight: 300;
}
.call-to-action p {
  color: linen;
}

footer {
  background-color: #1f2937;
  height: 5rem;
  padding: 2rem 0;
}

footer p {
  text-align: center;
  color: linen;
}

/* polish up hte media query! for the image div, 
   and action-section.
 */

@media screen and (max-width: 768px) {
  .introduction-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around;
    align-items: center; */
    /* height: 25rem; */
    color: linen;
  }

  .intro-text {
    width: 100%;
    text-align: center;
    /* height: 15rem; */
    /* border: 1px solid; */
  }

  .intro-text.intro-img {
    text-align: center;
    /* border: 2px solid; */
    height: 10rem;
    /* Padding is inserted for the purpose of centering text */
    padding: 5rem 0;
  }

  .intro-text-div button {
    display: block;
    width: 70%;
    margin: 1.5rem auto;
  }

  .random-info {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    row-gap: 10px;
  }

  .quote-section {
    background-color: #e5e7eb;
    font-weight: 300;
    font-size: 18px;
    padding: 4rem 0 4rem 0;
    font-style: italic;
    color: #1f2937;
  }

  .action-section .call-to-action {
    /* flex: 2; */
    width: 50%;
    /* border: 1px solid; */
  }

  .action-section .sign-up {
    /* flex: 2; */
    margin-left: -10px;
    /* border: 1px solid; */
  }
}
